* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.btn {
	display: inline-block;
	background-color: #FF6000;
	text-decoration: none;
	padding: 5px 15px;
	color: #fff;
	margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
}

/* Header CSS */
#header  {
    width: 80%;
    margin: 0 auto;
}
.main-header {
    background-color: #DDDDDD;
    overflow: hidden;
    padding: 18px;
}
.logo {
    float: left;
    width: 30%;
  }
.logo img {
    width: 50%;
}
.menu {
    width: 70%;
    float: right;
    text-align: right;
}
.menu li {
    display: inline-block;
    list-style: none;
    margin: 12px 20px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 18px;
    color: #38352C;
    padding: 5px;
}


.menu li a:hover {
    color: #0000ff;
    background-color: #FF6000;
    border-radius: 6px;
}
/* Banner CSS */
.banner {
    width: 100%;
    min-height: 420px;
    background-image: url(../image/bg-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Main CSS */
main {
    width: 80%;
    margin: 0 auto;
}
/* Services CSS */

.service  {
    overflow: hidden;
}
.service-text h1 {
    text-transform: capitalize;
    font-family: 'Crete Round', serif;
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}
.service-item {
    width: 30%;
    float: left; 
    margin-right: 5%;
    background-color: #008083;
    padding: 25px;  
}
.service-item-3 {
    width: 30%;
    float: right;
    background-color: #008083;
    padding: 25px;   
}

.service-item img {
    width: 100%;
}
.service-item-3 img {
    width: 100%;
}
.service h2 {
    text-transform: capitalize;
    font-family: 'Crete Round', serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 6px;
    color: #DDDDDD;
} 
.service p {
    color: #040909;
}
/* About CSS */

#about {
    margin:5% 0;
    overflow: hidden;
}
#about h2 {
    text-transform: capitalize;
    font-family: 'Crete Round', serif;
    font-size: 25px;
    margin-bottom: 6px; 
}
.about {
    width: 80%;
    float: left;
}
.about-text p {
    margin-bottom: 15px;
}
.sidebar {
    width: 20%;
    float: left;
}

.menu-item li img {
    width: 10px;
    margin-right: 7px;
}
.menu-item li {
    list-style: none;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 5px;
    line-height: 25px;
}
.menu-item li:last-child {
    border-bottom: 0;
}
.menu-item li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #040909;
}
#footer {
    width: 80%;
    margin: 0 auto;
    background-color: #008083;
}
.footer-text {
    text-align: center;
    color: #fff;
}
.footer-text h2 {
    font-size: 18px;
    padding: 10px 0;
    text-transform: capitalize;
}